:root {
    --background: #f5f5f5;
    --card-background: #ffffff;
    --text-color: #000000;
    --border-color: #dcdcdc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --primary-color: #007bff;
    --secondary-color: #0056b3;

    color-scheme: light dark;
    background: var(--background);
    color: var(--text-color);

    margin: 0 auto;
    padding: 2rem;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.title {
    font-size: 2.5vw;
    font-weight: 600;

    margin-bottom: 1vw;

    color: var(--text-color);
}

.card-title {
    font-size: 1.5vw;
    font-weight: 600;

    margin-bottom: 0.5vw;

    color: var(--text-color);
}

.charts {
    width: 30vw;
    height: 40vw;

    background-color: var(--card-background);

    padding: 0.8vw;
    border-radius: 8px;
    box-shadow: 10px 4px 6px var(--shadow-color);
    margin: 0.5rem 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-transaction-form {
    width: 30vw;
    height: auto;

    background-color: var(--card-background);

    padding: 0.8vw;
    border-radius: 8px;
    box-shadow: 10px 4px 6px var(--shadow-color);
    margin: 0.5rem 0;
}

.transaction-description {
    width: 100%;
    height: 2vw;

    margin-bottom: 1vw;

    font-size: 1vw;

    background-color: var(--card-background);
    border: none;
    border-bottom: var(--primary-color) solid 2px;
}
.transaction-description:focus {
    outline: none;
    color: #000000;
}

.transaction-amount {
    width: 47%;
    height: 2vw;

    margin-bottom: 1vw;
    margin-right: 5%;

    font-size: 1vw;

    background-color: var(--card-background);
    border: none;
    border-bottom: var(--primary-color) solid 2px;
}
.transaction-amount:focus {
    outline: none;
    color: #000000;
}

.transaction-type {
    width: 47%;
    height: 2vw;
    
    margin-bottom: 1vw;

    font-size: 1vw;
    color: var(--text-color);
    background-color: var(--card-background);

    border: none;
    border-bottom: var(--primary-color) solid 2px;
}

.transaction-type:focus {
    outline: none;
}

.submit-transaction-button {
    width: 100%;
    height: 3vw;

    font-size: 1.2vw;
    font-weight: 600;
    color: var(--card-background);
    background-color: var(--primary-color);

    border: none;
    border-radius: 4px;
    box-shadow: 4px 2px 4px var(--shadow-color);
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-transaction-button:hover {
    background-color: var(--secondary-color);
}
.submit-transaction-button:focus {
    outline: none;
    background-color: var(--secondary-color);
}

.transactions-history {
    width: 30vw;
    max-height: 100%;

    background-color: var(--card-background);

    padding: 0.8vw;
    border-radius: 8px;
    box-shadow: 10px 4px 6px var(--shadow-color);
    margin: 0.5rem 0;

    overflow-y: hidden;
    overflow-x: auto;
}

.transactions-history table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--card-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transactions-history th {
    background-color: var(--primary-color);
    color: var(--card-background);
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
    border-bottom: 2px solid var(--border-color);
}

.transactions-history td {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    font-size: 1rem;
}

.transactions-history td.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.transactions-history td.income {
    color: green;
}

.transactions-history td.outcome {
    color: red;
}

.transactions-history tr:nth-child(even) {
    background-color: var(--background);
}

.transactions-history thead {
    background-color: var(--primary-color);
}

.separation-line {
    border: 1px solid var(--primary-color);

    margin-bottom: 1rem;
}